:root {
    --primary: #2fc18c;
    --secondary: #036b52;
    --primary-text: #1b8034;
    --secondary-text: #0c4e3f;
}

html, body {
    width:100%;
    height: 100%;
    overflow-x: hidden;
}

main {
    background-color: rgb(232, 255, 228);
    display:grid;
    max-width:100%;
    height: 100%;
    grid-template-columns: 1fr 200px 200px;
}

section:nth-of-type(even){
    background-color: rgba(0,0,0, .25);
    padding:25px;
    color: white;
}

section:not(:first-child){
    border-left: .5px double rgba(0,0,0, .15);
}

h1 {
    font-size:2.5rem;
    font-weight: 800;
    text-align: center;
    color: var(--secondary-text);
    letter-spacing: 2px;
}

h2 {
    font-weight: 300;
    font-style: italic;
    text-align: center;
    color: var(--primary-text);
    font-size: 2.5rem;
    padding-bottom: 5px;
    border-bottom: .5px solid black;
}

h3 {
    font-size: 2rem;
    margin-bottom: 25px;
}

em {
    font-style: italic;
}

strong {
    font-weight: 900;
}

.menu {
    background-color: var(--secondary);
    padding: 25px;
    position: sticky;
    top:5vh;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0,0,0, .15);
}

.menu > li {
    margin:15px 0;
}

.menu > li > a {
    color:white;
    text-decoration: none;
}

.indications {
    font-size: 0.8rem
}

#about-me {
    display:grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr 200px;
    grid-template-areas: "photo texts";
    column-gap: 20px;
    align-items: center;
    border: 10px double var(--primary-text);
    margin: 25px;
    height: 500px;
    position: relative;
}


.about-me__text {
    position: relative;
    grid-area: texts;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(0,0,0, .15);
    padding: 0 60px;
}

.about-me__text--skills {
    position: relative;
    height: 100%;
    margin-top:100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#about-me > .about-me__text--skills > div {
    width: 100%;
    height: 60%;
}

.about-me__text--skills > div > span {
    font-weight: 800;
    margin-bottom: 15px;
}

.about-me__text p {
    margin-top: 100px;
    position: relative;
}

.about-me__text p:first-child:after {
    content: '"';
    position: absolute;
    right:-2vw;
    top: 10vh;
    font-size: 5rem;
    font-style: italic;
    color: grey;
}


.about-me__text p:first-child:before {
    content: '"';
    bottom:2.5vh;
    left:-5vw;
    position: absolute;
    font-size: 5rem;
    font-style: italic;
    color: black;
}

.photo-circle {
    width:100%;
    height: 85%;
    overflow: hidden;
    grid-area: photo;
    border-radius: 100px;
    background-color: seagreen;
    position: relative;
}

.photo-circle img {
    position: absolute;
    top: 0;
    left:0;
    object-fit: contain;
    overflow: hidden;
    margin-top: 25px;
    width:300px;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
}