@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Raleway:ital,wght@0,100;0,200;0,400;1,100;1,400&display=swap");
html,
body {
  background-color: rgba(140, 140, 140);
  font-family: "Lato", sans-serif;

}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

#body {
  margin-top: 1vw;
  margin-bottom: 5vw;
  position: fixed;
  height: 90%;
  overflow: scroll;
  width: 90vw;
  border: 5px double rgba(0, 0, 0, 0.5);
  background-color: #f5f5f5;
  filter: drop-shadow(0px 15px 15px rgba(0, 0, 0, 0.25));
  scrollbar-color: grey transparent;
  scrollbar-width: none;
}

#body div {
  padding: 5%;
}

.uk-navbar-nav {
  font-size: 1.2rem;
  letter-spacing: 2px;
  filter: drop-shadow(0px 0px 25px rgba(255, 255, 255, 0.6));
}

.uk-navbar-nav li a {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: rgb(220, 220, 220);
  background: rgb(100, 100, 110);
  outline: 5px double white;
}

.uk-navbar-nav li a:hover, .uk-navbar-nav li:last-child a:hover {
  color: rgb(20, 20, 20);
  background: rgb(200, 200, 210);
  outline: 5px double black;
}

.uk-navbar-nav li a:focus, .uk-navbar-nav li:last-child a:focus {
  color: rgb(220, 220, 220);
  background: rgb(100, 40, 40);
  outline: 5px double black;
}

.uk-navbar-nav li a:out-of-range, .uk-navbar-nav li:last-child a:out-of-range {
  color: rgb(220, 220, 220);
  background: rgb(100, 140, 40);
  outline: 5px double black;
}

.uk-navbar-nav li:last-child a {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: rgb(220, 220, 220);
  background: rgb(40, 40, 40);
  outline: 5px double white;
}

.photo {
  position: absolute;
  width: 50%;
  max-width: 110%;
  height: 50%;
  max-height: 110%;
  object-fit: contain;
  left: 0vw;
  top: 40px;
  z-index: 40;
}

.text p {
  margin-bottom: -20px;
  margin-left:20px;
  font-size: 1.3rem;
}

.line {
  z-index: 50;
  overflow: visible;
  position: absolute;
  width: 15%;
  height: 30%;
  left: 150px;
  top: 40px;
  border-bottom: black 5px double;
  white-space: "-moz-pre-wrap";
}

.circle {
  filter:drop-shadow(5px 5px 5px rgba(0,0,0,.2));
  background-color: rgba(120, 120, 120, .050);
  border: 10px double grey;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 15px;
  padding: 15px;
  display: flex;
  height: 100px;
  width: 100px;
  color: #fff;
  z-index:1;
  position:relative;
}

.circle img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain
}

.reduce {
  width:80% !important;
  height:80% !important;
}


.circle .tooltiptext-top {
  visibility: hidden;
  width: 350px;
  min-height:55px;
  max-height: 56px;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  line-height: 15px;
  z-index: 1;
  bottom: 110%;
  right: -120%;
  font-size:0.7rem;
  opacity: 0;
  transition: opacity 0.8s;
}

.circle .tooltiptext-top::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

ul {
  list-style: none;
}

.circle .tooltiptext-bottom {
  visibility: hidden;
  width: 350px;
  min-height:55px;
  max-height: 56px;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  line-height: 15px;
  z-index: 1;
  top: 110%;
  right: -120%;
  font-size:0.8rem;
  opacity: 0;
  transition: opacity 0.8s;
}

.circle .tooltiptext-bottom::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color:  transparent transparent #555 transparent;
}

.circle:hover .tooltiptext-top, .circle:hover .tooltiptext-bottom {
  visibility: visible;
  opacity: 1;
}

.tooltip-title {
  text-align:center;
  color:gold;
  margin-left:120px;
}

.tooltip-small::before {
  content: " / ";
  font-size:0.7rem;
  font-weight:900;
  color:rgb(20, 20, 20);
}

.tooltip-small {
  font-size:0.7rem;
  font-style: italic;
  color:rgb(220, 220, 220);
}

.formacao {
  outline:5px double black;
  background: linear-gradient(white, whitesmoke)
}

.contactWallpaper {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  background-position: 200% 50%;
  background-size: 50vw 100vh;
}

.modaldiv {
  background-color:#080808;
}

#gif {
  width: auto;
  min-width: 95%;
  height: auto;
  min-height: 95%;
  position:relative;
  left:100px;
  bottom: 100px;
  object-fit: contain
}

/*###Desktops, big landscape tablets and laptops(Large, Extra large)####*/
@media screen and (min-width: 1024px) {
  .uk-navbar {
    width: 88.5%;
    position: fixed;
    bottom: 2vh;
  }
}

/*###Tablet(medium)###*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .uk-navbar {
    bottom: 0;
    left: 1%;
    width: 100%;
    position: fixed;
    transform: scale(0.8);
  }

}

/*### Smartphones (portrait and landscape)(small)### */
@media screen and (min-width: 0px) and (max-width: 767px) {
  .uk-navbar {
    width: 100%;
    bottom: 5%;
    left: -6%;
    position: fixed;
    transform: scale(0.8);
  }

  .photo {
    position: absolute;
    left: 10px;
    top: 0px;
    z-index: 40;
  }
}
