.texts.uk-width-1-1.uk-margin-remove(uk-grid='')
  div#divFormacao(class="uk-width-1-1 uk-padding-small formacao")
    div(class=" uk-card uk-padding-small uk-margin-small uk-padding-remove@l uk-margin-remove@l")
      h2.uk-heading-line.uk-text-center
        span Forma&ccedil;&atilde;o
      .uk-card-body.uk-child-width-1-2.uk-padding-remove(uk-grid='')
        div
          .circle
            img.uk-responsive-width.uk-responsive-height(src='img/unifcv.png', alt='Logo UNIFCV - Centro Universitário Cidade Verde')
        div
          p
            | Analise e Desenvolvimento em Sistemas
          small
            | 2021 - 2023&nbsp;&nbsp;&nbsp;
            b Cursando
        div
          .circle
            img#uninove.uk-responsive-width.uk-responsive-height(src='img/uninove.png', alt='Logo UNINOVE - Universidade Nove de Julho')
        div
          p
            | Tecnologia em Sistemas para Internet
          small
            | 2018 - 2020&nbsp;&nbsp;&nbsp;
            b Completo
      h2.uk-heading-line.uk-text-center
        span Certificados
      include ./certificates.pug
