#divAbout.texts.uk-width-1-1.uk-margin-remove.uk-padding-remove-bottom
        hr.uk-divider-icon
        .uk-padding-remove-bottom.uk-padding(uk-grid='')
          .uk-width-1-1.animate-fade.uk-padding-remove
            h2.uk-heading-bullet Sobre mim
          div(class="animate-right uk-width-1-1 uk-width-1-2@s uk-padding-small uk-padding-remove@s")
            q
              | Desde cedo sempre fui apaixonado por tecnologia e m&uacute;sica, e
              | explorar-la s&oacute; me fez cada vez mais estudar sobre o assunto
            hr
            p.uk-text-small
              | Atrav&eacute;s da influ&ecirc;ncia que tive desde cedo atrav&eacute;s de jogos,
              | acabei me interessando por quest&otilde;es sobre o desenvolvimento de
              | tecnologias e inclusive at&eacute; estudos sobre produ&ccedil;&atilde;o musical.
              br
              |                   Seguindo dessa ambi&ccedil;&atilde;o que obtive e reflex&atilde;o sobre os avan&ccedil;os
              |                   da tecnologia com o tempo, busquei determina&ccedil;&atilde;o para
              |                   prosseguir e seguir minha forma&ccedil;&atilde;o voltado para a &aacute;rea do
              |                   desenvolvimento.
              br
              b Bolsista do ProUni
              |  realizei tecnol&oacute;go especializado em
              |                   sistemas para internet e atualmente estou evoluindo meus
              |                   conhecimentos voltado ao desenvolvimento sobre a an&aacute;lise e o
              |                   desenvolvimento de sistemas.
              br
          div(class="uk-visible@s animate-left uk-padding uk-width-1-2 uk-padding-remove")
            img#gif(src='img/art.gif', alt='')