#divAbout(class="texts uk-width-1-1 uk-margin-remove@s uk-padding-small uk-padding-remove-bottom@s uk-margin-auto-left uk-margin-auto-right")
  hr.uk-divider-icon
  .uk-padding-small.uk-margin-auto-left.uk-margin-auto-right(uk-grid='')
    #about-title.uk-width-1-1.uk-padding-remove
      h2.uk-heading-bullet Sobre mim
    div#about-divl(class="uk-relative animate-right uk-text-center uk-padding-small uk-padding-remove@s")
      q
        | Desde cedo sempre fui apaixonado por tecnologia, e
        | explorar-la s&oacute; me faz cada vez mais estudar sobre o assunto
      hr
      p.uk-text-small.uk-text-left
        | Atrav&eacute;s da influ&ecirc;ncia que tive desde cedo atrav&eacute;s de jogos,
        | acabei me interessando por quest&otilde;es sobre o desenvolvimento de
        | tecnologias.
        br
        |                   Seguindo dessa ambi&ccedil;&atilde;o que obtive e reflex&atilde;o sobre os avan&ccedil;os
        |                   da tecnologia com o tempo, busquei determina&ccedil;&atilde;o para
        |                   prosseguir e seguir minha forma&ccedil;&atilde;o voltado para a &aacute;rea do
        |                   desenvolvimento.
        br
        b Bolsista do ProUni
        |  realizei tecnol&oacute;go especializado em
        |                   sistemas para internet e atualmente estou evoluindo meus
        |                   conhecimentos voltado ao desenvolvimento sobre a an&aacute;lise e o
        |                   desenvolvimento de sistemas.
        br
        br
        br
        b Atualmente estou dedicando meus estudos รก essas tecnologias
        br
        div.techs
          img(src="https://badges.aleen42.com/src/angular.svg")
          img(src="https://badges.aleen42.com/src/javascript.svg")
          img(src="https://badges.aleen42.com/src/jest_1.svg")
          img(src="https://badges.aleen42.com/src/node.svg")
          img(src="https://badges.aleen42.com/src/typescript.svg")
        br
    //- div#about-divr(class="uk-visible@s animate-left uk-padding uk-width-1-2")
      //- img#gif(src='img/art.gif', alt='')
      //- #circleType
    //- div.uk-position-relative.uk-width-1-1.uk-padding-small.uk-margin-small(style="margin-left: 50px")
      div#links.uk-padding-small.uk-margin-small.uk-grid
        div(class="uk-width-1-1 uk-width-1-2@s uk-flex uk-flex-center")
          .circle-links
            a(href="https://github.com/lcds90", target="_blank")
              img.uk-responsive-width.uk-responsive-height(src='img/github.png', alt='')
          .circle-links
            a(href="https://linkedin.com/in/lcds90/", target="_blank")
              img.uk-responsive-width.uk-responsive-height(src='img/linkedin.png', alt='')