.uk-position-relative.uk-visible-toggle.uk-light(tabindex='-1' uk-slideshow='')
  ul.uk-slideshow-items(style="min-height:500px !important")
    li
      img(src='img/qualificacao-profissional.png' alt='')
    li
      img(src='img/certificado-node.jpg' alt='')
    li
      img(src='img/certificado-php.jpg' alt='')
  a.uk-position-center-left.uk-position-small.uk-hidden-hover(href='#' uk-slidenav-previous='' uk-slideshow-item='previous')
  a.uk-position-center-right.uk-position-small.uk-hidden-hover(href='#' uk-slidenav-next='' uk-slideshow-item='next')