// larger
div(class="uk-width-1-2@m uk-width-1-1 uk-margin-large-top")
  .line
  img.photo.animate-bottom.uk-responsive-width(src='img/perfil.png', alt='')
div(class="text uk-width-1-2@m uk-width-1-1 animate-top")
  .uk-text-center.uk-text-small.uk-margin-remove.uk-padding-remove
    .intro Leonardo Santos
  #container-intro.uk-text-center.uk-background-secondary.uk-margin-remove
    | Desenvolvimento Front-End
