// larger
div(class="uk-visible@s uk-width-1-2 uk-margin-large-top")
  .line
  img.photo.animate-bottom.uk-responsive-width(src='img/foto.jpg', alt='')
div(class="uk-visible@s text uk-width-1-2 animate-top")
  .uk-text-center.uk-text-small.uk-margin-remove.uk-padding-remove
    .intro
    span#time
  #container-intro.uk-text-center.uk-background-secondary.uk-margin-remove
    | Desenvolvimento Front-End

// mobile
div(class="uk-hidden@s uk-width-1-1 uk-margin-large-top")
  img.photo.animate-bottom.uk-responsive-width(src='img/foto.jpg', alt='')
div(class="uk-hidden@s text uk-width-1-1 animate-top")
  .uk-text-center.uk-text-small.uk-margin-remove.uk-padding-remove
    .intro
    span#time
  #container-intro.uk-text-center.uk-background-secondary.uk-margin-remove
    | Desenvolvimento Front-End
