div#divProjects(class="uk-width-1-1 uk-padding-remove")
  div(class="uk-card uk-padding-remove@s uk-margin-remove@s uk-padding-remove")
    h2.uk-heading-line.uk-text-center
      span Meus Projetos
    //- #languages(uk-grid,class="uk-card-body uk-child-width-1-1 uk-child-width-1-4@m uk-flex uk-flex-center uk-flex-middle")
    #sectionProjects.uk-width-1-1.uk-padding-remove.uk-margin
      include ./projects-front.pug
      include ./projects-games.pug
      include ./projects-node.pug
      include ./projects-php.pug

