div#divProjects(class="uk-width-1-1 uk-padding-small")
  div(class="uk-card uk-padding-remove@s uk-margin-remove@s uk-padding-small")
    h2.uk-heading-line.uk-text-center
      span Meus Projetos
    #projetos(class ="uk-card-body uk-child-width-1-1 uk-child-width-1-4@s")
      button.uk-button.uk-button-default(type='button' uk-toggle='target: #toggle-animation-php; animation:  uk-animation-slide-left, uk-animation-slide-bottom') PHP
      button.uk-button.uk-button-default(type='button' uk-toggle='target: #toggle-animation-node; animation:  uk-animation-slide-left, uk-animation-slide-bottom') Node
      button.uk-button.uk-button-default(type='button' uk-toggle='target: #toggle-animation-vue; animation:  uk-animation-slide-left, uk-animation-slide-bottom') Vue
      button.uk-button.uk-button-default.uk-button-secondary(type='button' uk-toggle='target: #toggle-animation-gdscript; animation:  uk-animation-slide-left, uk-animation-slide-bottom') Jogos
      .uk-width-2xlarge.uk-padding-remove.uk-margin-remove#sectionProjects
        include ./projects-php.pug
        
