script(src='js/lib/uikit.min.js')
script(src='js/lib/uikit-icons.min.js')
script(src='js/lib/axios.min.js')
script(src='js/lib/gsap.min.js')
script(src='js/lib/typewriter.min.js')
//- script(src="https://d3js.org/d3.v6.min.js") 
//- script(src='js/scripts.js')
script(src='js/animationClass.js')
script(src='js/requestClass.js')
script(src='js/ready.js')
//- script(src="js/languages.js") 
        
