include components/header.pug
#background.uk-container
  #body.uk-container
    .uk-grid-small(uk-grid='')#top
      include components/photo-info-name.pug
      include components/about-me.pug
      include components/ability.pug
      include components/projects.pug
  include components/navbar.pug
include components/scripts.pug
